.header{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 align-items: center; 
 padding: 1rem;
 
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  background-color: #dbd9cf;
  
  
}
.main2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-image: url(../public/baner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #dbd9cf;

}

.h2{
  font-size: 23px;

}
.h3{
  font-size: 20px;

  
}
.h4{
  font-size: 16px;

}


.imglogo{
  width: 160px;
  height: auto;
  margin: 12px;
}

.imglogo2{
  width: 120px;
  height: auto;
  margin: 6px;
}


.ButtonLinkHome{
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: 5px;
  justify-content: flex-start;
  align-items: flex-start;
}

.linknavbar{
  text-decoration: none;
  color: inherit;

}
.linknavbar:hover{
  text-decoration: none;
  color: inherit;

}


.imgCarousel{
  border-radius: 4px;
}

.imgListCarousel{
  margin: 10px;
  
}


.informationHome{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #555555;
  padding: 70px;
  
}

.informationImg{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.informationImg2{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imgSocialMedia{
  width: 38px;
  height: auto;
  padding: 5px;
  text-decoration: none;
  color: #b59b81;
}
.imgSocialMedia2{
  width: 38px;
  height: auto;
  padding: 5px;
  text-decoration: none;
  color: #c6a88b;
}

.informationText{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkContact:hover{
color: #c6a88b;
}
.informationTextTittle{
  color: #dbd9cf;
  margin: 0px;
  padding: 0px;
  font-size: 26px;
}
.textInformationHome{
  color: #dbd9cf;
  margin: 0px;
  padding: 0px;
}

.TextHome {
	-webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.textContact{
  margin: 20px;
  text-align: center;
  max-width: 700px;
  padding-bottom: 40px;

}

.imgModalExpand{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 500px;
  
}




 @-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}




.divItemList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.divItemListContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.divItemListSelect{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.divItem{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.divAboutUs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  text-align:center;
  padding: 100px;
  background-color: #dbd9cf;
  
}

.divAboutUsText{
  background-color: #dbd9cf;
}

.footer {
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  border-top: 0.2px solid #4c4c4c;
  justify-content: center;
  align-items: center;
  background-color: #d0cec6;
}


.footerImgs{
  width: 32px;
  height: auto;
  padding-left: 5px;
  text-decoration: none;
  color: #141414;
}


.pFooter{
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 16px;
  color: #141414;
  margin: 0;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-decoration: none;

}



@media (max-width: 768px){
  
    .header{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center; 
      padding: 1rem;
    }
    
    .main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 6rem;
      min-height: 100vh;
      
      
    }
    .main2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 6rem;
      min-height: 90vh;
      background-image: url(../public/baner.png);
      background-size: cover;
      background-repeat: no-repeat;
    
    }
    
    .sectionTittle{
      font-size: 26px;
    }

    .h2{
      font-size: 23px;
    
    }
    .h3{
      font-size: 20px;
    
      
    }
    .h4{
      font-size: 16px;
    
    }
    
    
    .imglogo{
      width: 160px;
      height: auto;
      margin: 12px;
    }
    
    .imglogo2{
      width: 120px;
      height: auto;
      margin: 6px;
    }
    
    
    .ButtonLinkHome{
      display: flex;
      flex-direction: row;
      position: fixed;
      bottom: 20px;
      right: 20px;
      margin: 5px;
      justify-content: flex-start;
      align-items: flex-start;
    }
    
    .linknavbar{
      text-decoration: none;
      color: inherit;
    
    }
    .linknavbar:hover{
      text-decoration: none;
      color: inherit;
    
    }
    
    
    .imgCarousel{
      border-radius: 4px;
    }
    
    .imgListCarousel{
      margin: 10px;
      
    }
    
    
    .informationHome{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: #555555;
      padding: 30px;
      gap: 20px;
      
    }
    
    .informationImg{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .informationImg2{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .imgLogoInformation{
      width: 160px;
      height: 100px;
    }
    .imgSocialMedia{
      width: 34px;
      height: auto;
      padding: 5px;
      text-decoration: none;
      color: #b59b81;
    }
    .imgSocialMedia2{
      width: 34px;
      height: auto;
      padding: 5px;
      text-decoration: none;
      color: #c6a88b;
    }
    
    .informationText{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px;
      padding: 0px;
      
    }
    
    .linkContact:hover{
    color: #c6a88b;
    }
    
    .informationTextTittle{
      color: #dbd9cf;
      margin: 0px;
      padding: 0px;
      font-size: 16px;
    }

    .textInformationHome{
      color: #dbd9cf;
      margin: 0px;
      padding: 0px;
      font-size: 14px;
    }
    
    .TextHome {
      -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
              animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
    
    .textContact{
      margin: 20px;
      text-align: center;
      max-width: 0px;
      min-width: 280px;
      padding-bottom: 40px;
    
    }
    
    .imgModalExpand{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 400px;
      
    }
    
    
    
    
      @-webkit-keyframes tracking-in-expand-fwd {
      0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
                transform: translateZ(-700px);
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        opacity: 1;
      }
    }
    @keyframes tracking-in-expand-fwd {
      0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
                transform: translateZ(-700px);
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        opacity: 1;
      }
    }
    
    
    
    
    .divItemList{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    
    
    }
    
    .divItemListContainer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
    
    .divItemListSelect{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }
    
    .divItem{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;
    }
    
    .divAboutUs{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0rem;
      text-align:center;
      padding: 30px;
      background-color: #dbd9cf;
      
    }

    .aboutUsTextTittle{
      background-color: #dbd9cf;
      margin: 0px;
      padding: 8px;
      font-size: 24px;
    }

    .aboutUsText{
      background-color: #dbd9cf;
      margin: 0px;
      padding: 5px;
      font-size: 18px;
    }
    .aboutUsText2{
      background-color: #dbd9cf;
      margin: 0px;
      padding: 5px;
      font-size: 16px;
    }
/* 
    .divContactForm{
      
    } */
    
    .footer {
      display: flex;
      flex-direction: row;
      padding: 2rem 0;
      border-top: 0.2px solid #4c4c4c;
      justify-content: center;
      align-items: center;
      background-color: #d0cec6;
    }
    
    
    .footerImgs{
      width: 32px;
      height: auto;
      padding-left: 5px;
      text-decoration: none;
      color: #141414;
    }
    
    
    .pFooter{
      font-family: 'Mukta Mahee', sans-serif;
      font-size: 16px;
      color: #141414;
      margin: 0;
    }
    
    .footer a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      text-decoration: none;
    
    }
    

}