.header{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 /* gap: 200px; */
 align-items: center; 
 padding: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

