

.header{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 /* gap: 200px; */
 align-items: center; 
 padding: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;

  

}


.imglogo{
  width: 160px;
  height: auto;
  margin: 12px;
}

.imglogo2{
  width: 120px;
  height: auto;
  margin: 6px;
}


.ButtonLinkHome{
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: 5px;
  justify-content: flex-start;
  align-items: flex-start;
}

.linknavbar{
  text-decoration: none;
  color: inherit;

}
.linknavbar:hover{
  text-decoration: none;
  color: inherit;

}


.imgCarousel{
  border-radius: 4px;
}

.imgListCarousel{
  margin: 10px;
  
}


.informationHome{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #555555;
  padding: 70px;
  
}

.informationImg{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.informationImg2{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imgSocialMedia{
  width: 38px;
  height: auto;
  padding: 5px;
  text-decoration: none;
  color: #baac78;
}
.imgSocialMedia2{
  width: 38px;
  height: auto;
  padding: 5px;
  text-decoration: none;
  /* color: #F5F5DC; */
  color: #c6a88b;
}

.informationText{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prueba{color: #dbd9cf;}




.divItemList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.divItemListContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* width:100%; */
  /* max-width: 100vw;  */
}

.divItemListSelect{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.divItem{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  /* gap: 30px; */
  /* width: 100%;
  float: right; */
  

}

/* .divItemCategory{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  gap: 30px;
} */


.footer {
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  border-top: 0.2px solid #4c4c4c;
  justify-content: center;
  align-items: center;
  background-color: #d0cec6;
}


.footerImgs{
  width: 32px;
  height: auto;
  padding-left: 5px;
  text-decoration: none;
  color: #141414;
}


.pFooter{
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 16px;
  color: #141414;
  margin: 0;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-decoration: none;

}